<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户修改页面</title>
</head>
<body>
<form th:action="@{/updateuser.html}" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    用户名：<input type="text" name="username" th:value="${user.username}"/><br><br>
    用户名密码：<input type="text" name="password" th:value="${user.password}"/><br><br>
    注册时间：<input type="text" name="regDate" th:value="${#dates.format(user.regDate,'yyyy-MM-dd HH:mm:ss')}"/>
    选中用户地址：<select name="address.id">
    <option th:value="${address.id}" th:selected="${user.address.id == address.id}" th:each="address:${addresses}">[[${address.addressInfo}]]</option>
</select> <br><br>
    <input type="submit" th:value="修改"/>
</form>
</body>
</html>