<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<div>
    <form th:action="@{/userSearch.html}" method="post">搜索 <input type="text" name="searchByUsername" /> <input type="submit" value="查询"></input></form><a th:href="@{/adduser.html}">添加</a><br>
    <table style="width:1000px;" border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td>id</td>
            <td>用户名</td>
            <td>用户密码</td>
            <td>用户注册时间</td>
            <td>用户住址</td>
            <td>操作</td>
        </tr>
        <tr th:each="user:${users}">
            <td>[[${user.id}]]</td>
            <td>[[${user.username}]]</td>
            <td>[[${user.password}]]</td>
            <td>[[${#dates.format(user.regDate,'yyyy-MM-dd HH:mm:ss')}]]</td>
            <td>[[${user.address.addressInfo}]]</td>
            <td><a th:href="@{/deleteuser.html(id=${user.id})} " onclick="return confirm('您确定要删除吗')">删除</a>
                <a th:href="@{/updateuser.html(id=${user.id})}">修改</a></td>
        </tr>
    </table>
</div>
</body>
</html>